@import url('https://fonts.google.com/specimen/Edu+AU+VIC+WA+NT+Hand');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');

.section1 {
    font-family: "edu-au-vic-wa-nt-hand-", cursive;
    color: red;
    text-align: center;
    height: 150px;
    width: auto;
    margin: 0px;
    padding: 0px 30px;
}

#banner2 {
    width: 100%;
    height: 100%;
    top: 200px;
}
#bannerlogo {
    width: auto;
    height: 200px;
    position: center;
    top: -05px;
    left: 650px;
}

/* display menu */
ul {
    font-family: "Josefin Sans", sans-serif;
    display:flex;
    width: 20%;
    justify-content: space-between;
    list-style: none; /*some os marcadores */
    text-transform: uppercase; /*letras em maiusculo*/
    position: absolute;
    top: 105px;
    left: 1300px;
}

h1,h2 {
    text-align: center;
}

.section2 {
    text-align: center; 
}
#botao {
    padding-top: 10px;
    border-radius: 15px;
    font-family: "Josefin Sans", sans-serif;
    position: relative;
    top: 550px;
    font-size: 40px;
    cursor: pointer;
}
.mapa-hope {
    margin: 0 auto;
    position:static;
    top: 700px;
}

footer{
    text-align: center;
    height: 50px;
    width: auto;
    margin: -1px auto;
    padding: 40px 0;
}


